<div class="grid-container grid barcode-ticket-container">
  <div class="grid-x">
    <div class="small-8 cell">
      <div id="drawing-name">{{ drawing_name }}</div>
      <div class="user-access-card">User Access Card</div>
      {% if admin %}ADMIN{% endif %}
      <br />
      <br />
      <div class="card-info" id="card-info-name">Name:</div>
      <div class="card-info" id="card-info-id">ID: {{ barcode }}</div>


    </div>

    <div class="small-1 cell">
        <div class="front-indicator">
          <i class="fi-arrow-up"></i>
          Insert barcode first
          <i class="fi-arrow-up"></i>
        </div>
    </div>

    <div class="cell small-3 actual-barcode-container">
        <canvas id="barcode-{{ barcode }}" class="barcode">
      </canvas>
    </div>

  </div>
</div>
<script>
  (function() {
    new QRious({
      element: document.getElementById("barcode-{{barcode}}"),
      value: "{{barcode}}",
      size: 75,
      level: "H"
    })
  })();
</script>
