{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kiosk</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"
          integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lottery/css/metropolis.css' %}"/>
    <link rel="stylesheet" href="{% static 'lottery/css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'lottery/css/foundation-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'lottery/css/kiosk.css' %}"/>
</head>

<body>
<div id="setup">
    <div class="row">
        <div class="medium-6 medium-offset-3 small-12 center">
            <h3>Waiting for barcode scanner...</h3>

            <div class="callout warning">
                <h5>Barcodes have changed!</h5>
                <p>Use the QR code below and the new Lotto Scan app to configure a barcode scanner for this kiosk.</p>
            </div>

            <div>
                <canvas id="kiosk-config-barcode">
                </canvas>
            </div>

            <div>
                <strong>Server address: </strong><span id="server-address"></span><br/>
                <strong>Kiosk ID: </strong><span id="kiosk-id"></span>
            </div>

            <h3>This screen will automatically change once a barcode scanner is connected</h3>
            <button class="button" id="enable-fullscreen">Activate fullscreen mode</button>
        </div>
    </div>
</div>
<div id="screen-1">
    <div class="row">
        <div class="large-12 columns">
            <h3 id="lottery-name">THANKSGIVING LOTTERY</h3>
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Scan your ticket below</h3>
            <div class="alert callout small center hide" id="s1-error-msg">
                <h5></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns scanner-arrow">
            <i class="barcode-arrow fi-arrow-down"></i>
        </div>
        <div class="small-6 columns scanner-arrow">
            <i class="barcode-arrow fi-arrow-down"></i>
        </div>
    </div>
</div>
<div id="screen-1-new" class="invisible">
    <div class="row">
        <div class="large-12 columns">
            <div id="s1-center-vertical">
                <div class="message-above"><span id="lottery-name">Thanksgiving Lottery</span></div>
                <div class="pretty-outline">
                    <h1>Welcome</h1>
                </div>
                <div class="pretty-outline-footer bg-purple"><i class="barcode-arrow-small fi-arrow-down"></i> Scan your
                    ticket to begin <i class="barcode-arrow-small fi-arrow-down"></i></div>
                <div class="message-below"></div>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <div id="loading-bar" class="single13"></div>
</div>
<div id="screen-2" class="invisible">
    <div id="s2-center-vertical">
        <div class="pretty-outline-dialog">
            <div class="row">
                <div class="medium-12 center">
                    <h3>What's your name?</h3>
                </div>
                <div class="medium-6 medium-offset-3">
                    <form method="POST" action="{% url 'save_name' %}">
                        {% csrf_token %}
                        <div class="alert callout small hide" id="name-submit-error">
                            <h5>Enter your first name to continue.</h5>
                        </div>
                        <input type="text" id="user-name" autocomplete="off" placeholder="Enter your first name..."/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="center medium-2 medium-offset-5">
                    <button id="continue" type="button" class="button large">Continue</button>
                </div>
            </div>
            <div class="row">
                <div class="center medium-6 medium-offset-3">
                    <p>
                        By pressing Continue, you are agreeing to the Lottery <a href="#" data-open="tos">Terms of
                        Service</a> and <a href="#" data-open="privacy-policy">Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="screen-3">
    <div class="row">
        <div class="medium-3 columns" id="recent-tickets">
            <h3>Your recent tickets:</h3>
            <table id="tickets-table">
                <thead>
                <td>ID</td>
                <td>Numbers</td>
                </thead>
                <tbody id="tickets-list">
                </tbody>
            </table>
        </div>
        <div class="medium-9 columns">
            <h3>Select up to 4 numbers</h3>
            <h5>Submit as many lottery tickets as you want! When you're finished, tap I'm Finished.</h5>
            <div class="alert callout small hide" id="max-nums-selected">
                <h5>To select number <span id="max-nums-attempted"></span>, deselect a number you've already selected.
                </h5>
                <p>Click a number you've selected to deselect it.</p>
            </div>
            <div class="alert callout small hide" id="ticket-submit-error">
                <p>We couldn't process your ticket right now. Please try again or contact the lottery administrator for
                    assistance.</p>
            </div>
            <table>
                <tbody id="lottery-nums">
                </tbody>
            </table>
            <div class="button-group large expanded" id="lt-submit-btns"> <!-- lt = lottery ticket -->
                <button class="submit-ticket button">Submit this ticket</button>
                <button class="submit-ticket kiosk-end-session button">Submit + go back</button>
                <button class="kiosk-end-session button">Go back</button>
            </div>
            <div id="ticket-submit-loading-bar" class="hide single13"></div>
        </div>
    </div>
</div>
<div id="screen-4">
    <div id="s4-center-vertical">
        <div class="row">
            <div class="medium-12 columns">
                <h2><strong><em>Scratch and win!</em></strong></h2>
                <h5>Find the turtle and he might just have a special surprise for you!</h5>
                <div class="alert callout small hide" id="max-scratchoff-squares-selected">
                    <h5>To select this square, click Play Again below.</h5>
                </div>
                <div class="alert callout small hide" id="scratchoff-submit-error">
                    <p>We couldn't process your ticket right now. Please try again or contact the lottery
                        administrator for assistance.</p>
                </div>
                <div class="success callout small hide" id="scratchoff-submit-correct">
                    <h5>Winner!</h5>
                    <h5 id="scratchoff-correct-text"></h5>
                </div>
                <div class="primary callout small hide" id="scratchoff-submit-incorrect">
                    <h5>Better luck next time!</h5>
                    <h5 id="scratchoff-incorrect-text"></h5>
                </div>
                <table id="scratchoff-table" class="unstriped">
                    <tbody id="scratchoff">
                    </tbody>
                </table>
                <div class="button-group large expanded center" id="scratchoff-submit-btns">
                    <button class="reset-scratchoff button hide">Play again</button>
                    <button class="kiosk-end-session button">Go back</button>
                </div>
                <div id="scratchoff-submit-loading-bar" class="hide single13"></div>
            </div>
        </div>
    </div>
</div>
<div id="select-game" class="invisible">
    <div id="select-game-center-vertical">
        <div class="row">
            <div class="medium-12 columns text-center">
                <h1>Select game</h1>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns select-game-entry-container">
                <div class="select-game-entry border-silver" id="select-game-lottery">
                    <img src="/static/lottery/img/lottery.png"/>
                    <h2>Lottery</h2>
                </div>
                <div class="select-game-entry border-silver" id="select-game-scratchoff">
                    <img src="/static/lottery/img/scratchoff.png"/>
                    <h2>Scratchoff</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns medium-offset-3 center">
                <div class="button-group large expanded center">
                    <button class="kiosk-end-session button">I'm finished</button>
                </div>
                <small><a href="#" data-open="image-attributions">View image attributions</a></small>
            </div>
        </div>
    </div>
</div>
<div id="closed" class="invisible">
    <div class="row">
        <div class="large-12 columns">
            <div id="closed-center-vertical">
                <div class="pretty-outline text-red" id="closed-title">
                    <i class="fi-alert"></i> Kiosk Closed
                </div>
                <div class="pretty-outline-footer bg-red text-white">You can't submit tickets here.</div>
            </div>
        </div>
    </div>
</div>
<div id="admin">
    <div class="row">
        <div class="large-12 columns">
            <h4>Admin</h4>
            <p>Use your powers wisely</p>
            <div class="button-group large expanded">
                <button type="button" onclick="openKiosk()" class="button large">Open Kiosk</button>
                <button type="button" onclick="closeKiosk()" class="button large">Close Kiosk</button>
            </div>
        </div>

    </div>
</div>

<div class="reveal" id="tos" data-reveal>
    <h2 id="modalTitle">Terms of Service</h2>
    <p>
        By signing up for and participating in the Thanksgiving Lottery (<strong><em>"Lottery"</em></strong>), you agree
        to these Terms and indicate
        that you have read and understood the Privacy Policy.
    </p>
    <p>
        As a person using a Lottery-sanctioned automated submission device (<strong><em>"Kiosk"</em></strong>) and/or
        submitting entries to one or more of the games in the Thanksgiving Lottery
        (<strong><em>"Participant"</em></strong>),
        you agree to abide by the following rules:

    <ul>
        <li>
            Participants in the Lottery may only use one access card to submit tickets using a Kiosk. Once the
            card is scanned and the Participant has entered his/her name, they may not submit any lottery
            numbers with another access card that is not their own.
        </li>
        <li>
            Duplication of access cards is prohibited via any means. Lost access cards may be replaced at the discretion
            of the Thanksgiving Lottery Organizing Committee (<strong><em>"Lottery Administrators"</em></strong>).
        </li>
        <li>
            The usage of unsanctioned automated number entry methods is strictly prohibited. Lottery-sanctioned
            Kiosks are exempted from this rule. Abusing access methods provided via Lottery-sanctioned kiosks, including
            setting up unauthorized Kiosks, is strictly prohibited. Additionally, tampering with equipment related to
            the operation of Lottery-sanctioned Kiosks, including network infrastructure, barcode scanners, and cables,
            is prohibited.<br/>
            <br/>
            Violations of these rules will result in disqualification from the Lottery. Violations may be detected
            and/or responded to via manual and/or automated rules.
        </li>
        <li>
            Fraudulent ticket submissions by any means are prohibited.
            <ul>
                <li>
                    When paper modes of submissions are provided, Participants are strictly prohibited from making
                    submissions on behalf of another Participant. Upon discovery or reporting of such an occurrence,
                    the affected submissions will be invalidated, and the Participant who submitted the fraudulent
                    tickets will be disqualified from the Lottery.
                </li>
                <li>
                    Usage via any means of another participant's access card or an additional access card beyond the
                    first is prohibited. Tickets and Scratchoffs submitted in this manner will be invalidated, and
                    the violator will be disqualified from the Lottery.
                </li>
            </ul>
        </li>
        <li>
            Once a Ticket or Scratchoff is submitted, it cannot be modified. However, the Lottery Administrators
            may, at their discretion, invalidate and remove from consideration any Ticket or Scratchoff deemed to be
            submitted via any method in violation of these Terms.
        </li>
        <li>
            Lottery results are determined using an automated process once the Lottery has ended. To be counted
            during the scoring process, tickets must be submitted during the ticket submission window set by the
            member(s)
            of the Lottery Administrators.
            The final ranking will be determined using the following criteria:
            <ol>
                <li>
                    Not disqualified
                </li>
                <li>
                    Score (percentage)
                </li>
                <li>
                    Sum of number of lottery numbers and scratchoffs submitted
                </li>
            </ol>
        </li>
        <li>
            Once results are determined to be accurate at the discretion of the Lottery Administrator(s), they
            are final and may not be contested.
        </li>
        <li>
            The Lottery Administrator(s) reserve the right to disqualify any Participant for any reason at their sole
            discretion, including but not limited to violations of these Terms of Service.
        </li>
        <li>
            Participation in the Lottery is wholly voluntary. Winning is based solely on chance; the odds of
            winning (2 correct numbers chosen) are 1 in 105 for the submission of one Ticket with 4 numbers
            selected. There is a 64 in 315 chance of selecting one correct number.
        </li>
        <li>
            You may also be offered a Scratchoff game to play. Scratchoffs may award 0, 1, or 4 points. Each Scratchoff
            adds 1.75 points to the Scratchoff points possible. Each Scratchoff entry has 4 chances of winning.
            There are three (3) drawings with odds of 1 in 16 to win 1 point. There is one (1) drawing with odds of
            1 in 16 to win 4 points. All drawings are conducted in series in a random order. The maximum points of won
            drawings will be awarded.
        </li>
        <li>
            You may not circumvent any limits put in place by the system, including, but not limited to: maximum
            number of numbers that can be chosen on a ticket, range of numbers allowed to be chosen, maximum
            number of tickets allowed to be submitted in a certain time period.
        </li>
        <li>
            You may not tamper with downstream services relied upon by the Lottery, including but not limited to
            Random.org.
        </li>
        <li>
            Only Lottery Administrators may access areas of the software designated for Administrators. This
            includes the Manage Lottery and Lottery Admin pages.
        </li>
    </ul>
    </p>
    <p>
        Violation of any of the above policies may result in sanctions against your participation in the
        Lottery.
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="privacy-policy" data-reveal>
    <h2 id="modalTitle">Privacy Policy</h2>
    <p>
        The Thankgiving Lottery seeks to protect the privacy of your information. Personal information collected
        includes:
    <ul>
        <li>
            Your first name
        </li>
    </ul>
    </p>
    <p>
        You agree that we may share your first name in the results of this Lottery. Your personal information
        will not be shared with advertisers.
    </p>
    <p>
        We may use online analytics tools to understand how you use the Lottery interfaces. These tools may
        place cookies in your browser and record information about your general location and your device,
        including its operating system and your browser.
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="image-attributions" data-reveal>
    <h2 id="modalTitle">Image Attributions</h2>
    <p>
        The Thanksgiving Lottery would like to include the following image attributions:
    </p>
    <ul>
        <li>
            Lottery icons created by Freepik - Flaticon: https://www.flaticon.com/free-icons/lottery
        </li>
        <li>
            Scratch icons created by juicy_fish - Flaticon: https://www.flaticon.com/free-icons/scratch
        </li>
    </ul>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script src="{% static 'lottery/js/vendor/jquery.js' %}"></script>
<script src="{% static 'lottery/js/vendor/what-input.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"
        integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).foundation();
</script>

<script src='{% static "channels/js/websocketbridge.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

<script>
    const kiosk_id = {{ kiosk_id }};
</script>
<script src='{% static "lottery/js/kiosk.js" %}'></script>

</body>

</html>
