{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kiosk</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"
          integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lottery/css/metropolis.css' %}"/>
    <link rel="stylesheet" href="{% static 'lottery/css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'lottery/css/foundation-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'lottery/css/kiosk.css' %}"/>
</head>

<body>
<div id="setup">
    <div class="row">
        <div class="medium-6 medium-offset-3 small-12 center">
            <h3>Waiting for barcode scanner...</h3>

            <div class="callout warning">
                <h5>Barcodes have changed!</h5>
                <p>Use the QR code below and the new Lotto Scan app to configure a barcode scanner for this kiosk.</p>
            </div>

            <div>
                <canvas id="kiosk-config-barcode">
                </canvas>
            </div>

            <div>
                <strong>Server address: </strong><span id="server-address"></span><br/>
                <strong>Kiosk ID: </strong><span id="kiosk-id"></span>
            </div>

            <h3>This screen will automatically change once a barcode scanner is connected</h3>
            <button class="button" id="enable-fullscreen">Activate fullscreen mode</button>
        </div>
    </div>
</div>
<div id="screen-1">
    <div class="row">
        <div class="large-12 columns">
            <h3 id="lottery-name">THANKSGIVING LOTTERY</h3>
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Scan your ticket below</h3>
            <div class="alert callout small center hide" id="s1-error-msg">
                <h5></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns scanner-arrow">
            <i class="barcode-arrow fi-arrow-down"></i>
        </div>
        <div class="small-6 columns scanner-arrow">
            <i class="barcode-arrow fi-arrow-down"></i>
        </div>
    </div>
</div>
<div id="screen-1-new" class="invisible">
    <div class="row">
        <div class="large-12 columns">
            <div id="s1-center-vertical">
                <div class="message-above"><span id="lottery-name">Thanksgiving Lottery</span></div>
                <div class="pretty-outline">
                    <h1>Welcome</h1>
                </div>
                <div class="pretty-outline-footer bg-purple"><i class="barcode-arrow-small fi-arrow-down"></i> Scan your
                    ticket to begin <i class="barcode-arrow-small fi-arrow-down"></i></div>
                <div class="message-below">
                    <div class="alert callout small center hide" id="screen-1-new-error-msg">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <div id="loading-bar" class="single13"></div>
</div>
<div id="screen-2" class="invisible">
    <div id="s2-center-vertical">
        <div class="pretty-outline-dialog">
            <div class="row">
                <div class="medium-12 center">
                    <h3>What's your name?</h3>
                </div>
                <div class="medium-6 medium-offset-3">
                    <form method="POST" action="{% url 'save_name' %}">
                        {% csrf_token %}
                        <div class="alert callout small hide" id="name-submit-error">
                            <h5>Enter your first name to continue.</h5>
                        </div>
                        <input type="text" id="user-name" autocomplete="off" placeholder="Enter your first name..."/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="center medium-2 medium-offset-5">
                    <button id="continue" type="button" class="button large">Continue</button>
                </div>
            </div>
            <div class="row">
                <div class="center medium-6 medium-offset-3">
                    <p>
                        By pressing Continue, you are agreeing to the Lottery <a href="#" data-open="tos">Terms of
                        Service</a> and <a href="#" data-open="privacy-policy">Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="screen-3">
    <div class="row">
        <div class="medium-3 columns" id="recent-tickets">
            <h3>Your recent tickets:</h3>
            <table id="tickets-table">
                <thead>
                <td>ID</td>
                <td>Numbers</td>
                </thead>
                <tbody id="tickets-list">
                </tbody>
            </table>
        </div>
        <div class="medium-9 columns">
            <h3>Select up to 4 numbers</h3>
            <h6>Submit as many lottery tickets as you want! When you're finished, tap I'm Finished.</h6>
            <div class="alert callout small hide" id="max-nums-selected">
                <h5>To select <span id="max-nums-attempted"></span>, deselect a number you've already selected.
                </h5>
                <p>Click a number you've selected to deselect it.</p>
            </div>
            <div class="alert callout small hide" id="ticket-submit-error">
                <p>We couldn't process your ticket right now. Please try again or contact the lottery administrator for
                    assistance.</p>
            </div>
            <table>
                <tbody id="lottery-nums">
                </tbody>
            </table>
            <div class="button-group large expanded" id="lt-submit-btns"> <!-- lt = lottery ticket -->
                <button class="submit-ticket button">Submit this ticket</button>
                <button class="submit-ticket kiosk-end-session button">Submit + go back</button>
                <button class="kiosk-end-session button">Go back</button>
            </div>
            <div id="ticket-submit-loading-bar" class="hide single13"></div>
        </div>
    </div>
</div>
<div id="screen-4">
    <div id="s4-center-vertical">
        <div class="row">
            <div class="medium-12 columns">
                <h2><strong><em>Scratch and win!</em></strong></h2>
                <h5>Find the turtle and he might just have a special surprise for you!</h5>
                <div class="alert callout small hide" id="max-scratchoff-squares-selected">
                    <h5>To select this square, click Play Again below.</h5>
                </div>
                <div class="alert callout small hide" id="scratchoff-submit-error">
                    <p>We couldn't process your ticket right now. Please try again or contact the lottery
                        administrator for assistance.</p>
                </div>
                <div class="success callout small hide" id="scratchoff-submit-correct">
                    <h5 id="scratchoff-correct-text"></h5>
                </div>
                <div class="primary callout small hide" id="scratchoff-submit-incorrect">
                    <h5 id="scratchoff-incorrect-text"></h5>
                </div>
                <table id="scratchoff-table" class="unstriped">
                    <tbody id="scratchoff">
                    </tbody>
                </table>
                <div class="button-group large expanded center" id="scratchoff-submit-btns">
                    <button class="reset-scratchoff button hide">Play again</button>
                    <button class="kiosk-end-session button">Go back</button>
                </div>
                <div id="scratchoff-submit-loading-bar" class="hide single13"></div>
            </div>
        </div>
    </div>
</div>
<div id="select-game" class="invisible">
    <div id="select-game-center-vertical">
        <div class="row">
            <div class="medium-12 columns text-center">
                <h1>Select game</h1>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns select-game-entry-container">
                <div class="select-game-entry border-silver" id="select-game-lottery">
                    <img src="/static/lottery/img/lottery.png"/>
                    <h2>Lottery</h2>
                </div>
                <div class="select-game-entry border-silver" id="select-game-scratchoff">
                    <img src="/static/lottery/img/scratchoff.png"/>
                    <h2>Scratchoff</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns medium-offset-3 center">
                <div class="button-group large expanded center">
                    <button class="kiosk-end-session button">I'm finished</button>
                </div>
                <small><a href="#" data-open="image-attributions">View image attributions</a></small>
            </div>
        </div>
    </div>
</div>
<div id="closed" class="invisible">
    <div class="row">
        <div class="large-12 columns">
            <div id="closed-center-vertical">
                <div class="pretty-outline text-red" id="closed-title">
                    <i class="fi-alert"></i> Kiosk Closed
                </div>
                <div class="pretty-outline-footer bg-red text-white">You can't submit tickets here.</div>
            </div>
        </div>
    </div>
</div>
<div id="admin">
    <div class="row">
        <div class="large-12 columns">
            <h4>Admin</h4>
            <p>Use your powers wisely</p>
            <div class="button-group large expanded">
                <button type="button" onclick="openKiosk()" class="button large">Open Kiosk</button>
                <button type="button" onclick="closeKiosk()" class="button large">Close Kiosk</button>
            </div>
        </div>

    </div>
</div>

<div class="reveal" id="tos" data-reveal>
    <h2 id="modalTitle">Terms of Service</h2>
    <p>
        By signing up for and participating in the Thanksgiving Lottery (<strong><em>"Lottery"</em></strong>), you agree
        to these Terms and indicate
        that you have read and understood the Privacy Policy.
    </p>
    <p>
        As a person using a Lottery-sanctioned automated submission device (<strong><em>"Kiosk"</em></strong>) and/or
        submitting entries to one or more of the games in the Thanksgiving Lottery (<strong><em>"Lottery
        Games"</em></strong>) (<strong><em>"Participant"</em></strong>),
        you agree to abide by the following rules:

    <ul>
        <li>
            <strong>One participant, one access card.</strong> Participants in the Lottery may use not more than one (1)
            access card to play the Lottery Games. An access card belongs to a participant if they have either 1)
            scanned
            the card and entered their name, or 2) written their name or otherwise marked the physical access card.
        </li>
        <li>
            <strong>You can only use your access card.</strong> Participants may not access Kiosks or play any Lottery
            Games using an access card besides their own.
        </li>
        <li>
            <strong>Hold on to your access card.</strong> The Thanksgiving Lottery Organizing Committee
            (<strong><em>"Lottery Administrators"</em></strong>) has no obligation to invalidate Lottery Game
            submissions resulting from lost or stolen access cards. Lost access cards may be replaced at the discretion
            of the Lottery Administrators.
        </li>
        <li>
            <strong>No duplicating access cards.</strong> Duplicating access cards via any method is prohibited.
        </li>
        <li>
            <strong>Humans only.</strong> The usage of unsanctioned automated number entry methods is strictly
            prohibited.
            Lottery-sanctioned Kiosks are exempted from this rule. Abusing access methods provided via
            Lottery-sanctioned kiosks,
            including setting up unauthorized Kiosks, is strictly prohibited. Additionally, tampering with equipment
            related to the operation of Lottery-sanctioned Kiosks, including, but not limited to, network
            infrastructure,
            barcode scanners, and cables, is prohibited.<br/>
            <br/>
            The Lottery Administrators reserve the right to detect and respond to violations of this rule by any means,
            whether manual or automated.
        </li>
        <li>
            <strong>Don't try to impersonate other players.</strong> Regardless of submission mode (including Kiosk and
            paper submission methods), participants may not access a Kiosk or play any of the Lottery Games on behalf
            of another participant, with or without the other participant's authorization.
        </li>
        <li>
            <strong>Let the computers do their thing.</strong> Participants may not:
            <ul>
                <li>Attempt to circumvent any limit put in place by Lottery systems,</li>
                <li>Tamper with any downstream services relied upon by the Lottery,</li>
                <li>Use an Administrator access card, or</li>
                <li>Access any areas of the Lottery software designated for exclusive use by the Lottery Administrators,
                    include the Manage Lottery and Site Admin areas.
                </li>
            </ul>
        </li>
        <li>
            <strong>You can't change past submissions.</strong> Once you submit an entry to a Lottery Game, you are
            not allowed to change it.
        </li>
        <li>
            <strong>Lottery results are calculated automatically.</strong>
            Lottery results are determined using an automated process once the Lottery has ended. To be counted
            during the scoring process, tickets must be submitted during the ticket submission window set by the
            member(s) of the Lottery Administrators. The ranking for each game will be determined by the following criteria:
            <ol>
                <li>
                    Not disqualified
                </li>
                <li>
                    Score (percentage)
                </li>
                <li>
                    Lottery: number of numbers submitted / Scratchoff: number of scratchoffs submitted
                </li>
            </ol><br />
            After each game is scored, the ranking of overall winners is determined. Players each ranking points for each game based on
            their performance in each game (e.g., for <em>n</em> players, 1st place would get <em>n</em> points, 2nd place <em>n</em> - 1, and so on).
            Additionally, the 1st place player in each game receives 1 bonus ranking point.<br />
            <br />
            Each player's ranking points are summed across all games to determine the final ranking. In the event of a tie, a player's highest game score
            (in either the lottery or the scratchoff) is used as a tiebreaker.
        </li>
        <li>
            <strong>No appealing Lottery Game results.</strong> Once results are determined to be accurate at the
            discretion of the Lottery Administrator(s), they are final and may not be contested.
        </li>
        <li>
            <strong>Lottery Administrators have ultimate authority.</strong> The Lottery Administrator(s) reserve the
            right to take any action they deem necessary to maintain the integrity of the Lottery, including in response
            to violations of these Terms of Service. Such remedies may include, but are not limited to, 1)
            disqualification of one or more participants, and 2) invalidation of Lottery Game entries.
        </li>
        <li>
            <strong>You don't have to play.</strong> Participation in the Lottery is wholly voluntary. Winning is based
            solely on chance; the odds of winning (2 correct numbers chosen) are 1 in 105 for the submission of one Ticket
                 with 4 numbers selected. There is a 64 in 315 chance of selecting one correct number.
        </li>
        <li>
            <strong>Scratchoffs.</strong> You may also be offered a Scratchoff game to play. Scratchoffs may award 0, 1,
            or 4 points. Each Scratchoff
            adds 1.75 points to the Scratchoff points possible. Each Scratchoff entry has four chances of winning.
            There are three drawings with odds of 1 in 16 to win 1 point. There is one drawing with odds of
            1 in 16 to win 4 points. All drawings are conducted in series in a random order. The maximum points of won
            drawings will be awarded.
        </li>
    </ul>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="privacy-policy" data-reveal>
    <h2 id="modalTitle">Privacy Policy</h2>
    <p>
        The Thankgiving Lottery seeks to protect the privacy of your information. Personal information collected
        includes:
    <ul>
        <li>
            Your first name
        </li>
    </ul>
    </p>
    <p>
        You agree that we may share your first name in the results of this Lottery. Your personal information
        will not be shared with advertisers.
    </p>
    <p>
        We may use online analytics tools to understand how you use the Lottery interfaces. These tools may
        place cookies in your browser and record information about your general location and your device,
        including its operating system and your browser.
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="image-attributions" data-reveal>
    <h2 id="modalTitle">Image Attributions</h2>
    <p>
        The Thanksgiving Lottery would like to include the following image attributions:
    </p>
    <ul>
        <li>
            Lottery icons created by Freepik - Flaticon: https://www.flaticon.com/free-icons/lottery
        </li>
        <li>
            Scratch icons created by juicy_fish - Flaticon: https://www.flaticon.com/free-icons/scratch
        </li>
    </ul>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script src="{% static 'lottery/js/vendor/jquery.js' %}"></script>
<script src="{% static 'lottery/js/vendor/what-input.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"
        integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).foundation();
</script>

<script src='{% static "channels/js/websocketbridge.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

<script>
    const kiosk_id = {{ kiosk_id }};
</script>
<script src='{% static "lottery/js/kiosk.js" %}'></script>

</body>

</html>
