<div class="ticket-list-container">
    <div class="ticket">
        <div class="ticket-id">
            <div class="ticket-id-desc">
                Ticket
            </div>
            <div class="ticket-id-num">
                44
            </div>
        </div>
        <div class="ticket-numbers">
            <div class="top-row">
                <span class="correct">12</span> 23
            </div>
            <div class="bottom-row">
                34 35
            </div>
        </div>
        <div class="ticket-score">
            <div>
                +2
            </div>
        </div>
    </div>
</div>
