<div class="ticket">
    <div class="ticket-id">
        <div class="ticket-id-desc">
            Ticket
        </div>
        <div class="ticket-id-num">
            {{ ticket_id }}
        </div>
    </div>
    <div class="ticket-numbers">
        {% for n in numbers %}
            {% if n.correct %}
            <span class="correct">
            {% endif %}
            {{ n.number }}
            {% if n.correct %}</span>{% endif %}
        {% endfor %}
    </div>
    <div class="ticket-score">
        <div>
            {{ points }} points
        </div>
    </div>
</div>
