#drawing-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

body {
  font-size: 12px;
}

.barcode {
  vertical-align: middle;
  margin: 27.375px 0;
}

.barcode-ticket-container {
  width: 300px;
  height: 135.5px;
  margin-top: 3.75px;
  border: 1px black;
}

.all-barcodes-container {
  width: 610px;
}

#info-table > tbody > tr > td {
  border: 2px black;
}

.front-indicator {
  width:22.5px;
  text-orientation: sideways;
  writing-mode:vertical-lr;
}

.card-info {
  width: 95%;
  padding: 3px;
  border: 1px solid black; //border needs "solid" property - https://www.w3schools.com/css/css_border.asp
}

#card-info-name {
  border-bottom: none;
}

#card-info-top {
  border-top: none;
}

.highlight {
    background-color: #fffbcc;
}

@media print {
  .barcode-ticket-container {
    page-break-inside: avoid;
  }

  canvas {
    image-rendering: pixelated; //This makes the QR codes print out not-pixelated, despite what the property value implies.  Found this in this StackOverflow answer: https://stackoverflow.com/a/35064217/5434744
  }

  .button {
    display: none;
  }
}
