body, h1, h2, h3, h4, h5, h6, p, div, strong, em {
    font-family: Poppins, sans-serif;
}

.barcode-arrow {
    font-size: 19rem;
}

.barcode-arrow-small {
    margin-left: 10px;
    margin-right: 10px;
}

.closed-icon {
    font-size: 19rem;
    line-height: 200px;
}

h1 {
    text-align: center;
    font-size: 10rem;
}

h2, h3, h4, h5, h6, h7 {
    text-align: center;
}

.pretty-outline-dialog {
    border: 1pt solid #E3EBEF;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 15px;
    box-shadow: 3px 3px 4px 0 #D9D9D9
}

.pretty-outline {
    border: 1pt solid #E3EBEF;
    margin-left: 75px;
    margin-right: 75px;
    padding: 30px;
    box-shadow: 3px 3px 4px 0 #D9D9D9
}

.pretty-outline-footer {
    font-size: 2.3em;
    margin-top: -35px;
    text-align: center;
    line-height: 70px;
    margin-left: auto;
    width: 75%;
    height: 70px;
    margin-right: auto;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}

.bg-purple {
    background-color: #9629E7;
    color: white;
}

.bdr-orange {
    border-color: orange;
}

body {
    transition: background-color .5s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.scanner-arrow {
    text-align: center;
}

#loading-bar {
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -60px;
}

#loading {
    display: none;
    height: 100%;
}

.center-vertical {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#continue {
    margin: 0 auto;
}

.center {
    text-align: center;
}

#user-name {
    text-align: center;
    font-size: 1.75rem;
    height: 51px;
}

#lottery-nums > tr > td {
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 2rem;
}

#lottery-nums > tr > td.selected {
    background-color: #5ca1ce;
/ / this is a shade of the primary color for Foundation 6
}

#ticket-submit-loading, #lt-submit-btns-container {
    width: 100%;
}

#ticket-submit-loading-bar, #lt-submit-btns,
#scratchoff-submit-loading-bar, #scratchoff-submit-btns {
    margin: auto;
}

#ticket-submit-loading-bar {
    margin-top: 65px;
}

#scratchoff-table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#scratchoff-table > tbody > td {
    text-align: center;
}

.message-above {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 45px;
}

.message-below {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 45px;
}

.no-border {
    border: none !important;
}

#closed-title {
    text-align: center;
    font-size: 4rem;
}

.bg-red {
    background-color: #B00020;
}

.text-white {
    color: white;
}

.text-red {
    color: #B00020;
}


/* from https://boguz.github.io/Spinners/
 under license:
 MIT License

Copyright (c) 2016 Boguz

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*/
.single13 {
    height: 10px;
    width: 120px;
    border-radius: 4px;
    background: -webkit-linear-gradient(right, #ef4836, #f5d76e, #ef4836);
    background: linear-gradient(270deg, #ef4836, #f5d76e, #ef4836);
    background-size: 400% 400%;
    -webkit-animation: single13anim 3s ease-in-out infinite;
    animation: single13anim 3s ease-in-out infinite;
}

@-webkit-keyframes single13anim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes single13anim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
/* end from https://boguz.github.io/Spinners/ */
